
body
{
/*Colore di sfondo*/
	background-color: antiquewhite;
/*Colore e font per il testo */
	color: saddlebrown;
	font-size: 1.0em;
	font-family: Arial, Helvetica, sans-serif;
}

/*Proprietà dei titoli (almeno da h1 ad h3)*/
h1
{
	font-size: 1.8em;
	margin: 0px auto;
}

h2
{
	font-size: 1.5em;
	margin: 0px auto;
}

h3
{
	font-size: 1.3em;
	margin: 0px auto;
}

/*Proprietà dei link*/
a:link, a:visited
{
	color: green;
}

a:hover
{
	color: darkgreen;
}

/*label:after, label:before
{
	content: '\A';
	white-space: pre;
}*/

.intpad1
{
	padding-bottom: 1%
}

.intpad3
{
	padding-bottom: 3%
}

.block
{
	display: block;
}

input[type="submit"].block
{
	padding-top: 1%;
	padding-bottom: 1%;
}

/*Visualizzazione dei campi di input*/
input
{
	background-color: navajowhite;
	color: crimson;
	/*bordi*/
	border: 1px solid tan;
	border-radius:3px;
}

input:focus
{
	background-color: peachpuff;
	color: darkred;
	/*bordi*/
	outline:none;
	border: 1px solid tan;
	border-radius:3px;
	box-shadow: 0px 0px 4px 0px brown;
}

/*per immagine*/
.shrink
{
	width: 80%;
	height: auto;
}

.shrink16px
{
	width: 16px;
	height: 16px;
}

.shrink32px
{
	width: 32px;
	height: 32px;
}

/*tabelle*/
table
{
	/*singolo bordo*/
	border-collapse: collapse;
	/*adattabile*/
	width: 100%;
	height: 100%;
	/*margini sotto/sopra*/
	margin-top: 10px;
	margin-bottom: 10px;
	/*elementi centrati*/
	text-align: center;
}

table, td, th
{
	border: 1px solid brown;
}

th
{
	background: saddlebrown;
	color: antiquewhite;
}

.evenrow
{
	background-color: burlywood;
}

/*icone*/
.icon1
{
	list-style-image: url('pics/icon1.png');
}

.icon2
{
	list-style-image: url('pics/icon2.png');
}

.icon3
{
	list-style-image: url('pics/icon3.png');
}

.underline
{
	text-decoration: underline;
}

/*position*/
.navbar > div > a
{
	padding-top: 0;
	padding-bottom: 0;
}

/*menu consecutivi*/
.nav-main
{
	font-weight: bold;
}

#nav1, #aside1, #main1
{
	background-color: bisque;
}

.nav-main, .nav, .nav-last
{
	padding-top: 15px;
	padding-bottom: 15px;
	/*bordi*/
	text-align: center;
}

/*menu attuale bianco su nero*/
.nav-selected
{
	background-color: peachpuff;
	color: white;
}

.cornice
{
	/*interno e non esterno per non causare overflow*/
	box-shadow: inset 0px 0px 0px 1px blanchedalmond;
	border-radius:3px;
}

.newsdet
{
	font-size: 0.6em;
	color: grey;
}

.newstxt
{
	font-size: 0.8em;
}

.newsdid
{
	clear: both;
	font-size: 0.8em;
	font-weight: bold;
}

.clearfix
{
	overflow: auto;
}
