
body
{
/*Colore di sfondo*/
	background-color: antiquewhite;
/*Colore e font per il del testo */
	color: saddlebrown;
	font-size: 12px;
}

/*Proprietà dei titoli (almeno da h1 ad h3)*/
h1, h2, h3
{
	font-size: 18px;
}
/*Proprietà dei link*/
a /*, a:visited, a:link, a:hover, a:active*/
{
	color: green;
}

/*Visualizzazione dei campi di input*/
label
{
	font-size: 12px;
}

label, input
{
	display: block;
}

input:focus
{
	background-color: burlywood;
	color: crimson;
}

/*per immagine*/
.toleft
{
	float:left;
}
.toright
{
	float:right;
}
.tonone
{
	clear: both;
}
.dinline
{
	display:inline-block;
}

/*menu attuale bianco su nero*/
.nav-selected
{
	background-color: black;
	color: white;
}

/*cornice dei div WRONG*/
nav, article, aside, div{
	/*border-style: solid;*/
	border-color: black;
	border-width: 1px;
}

/*icone*/
.icon1
{
	list-style-image: url('pics/icon1.png');
}

.icon2
{
	list-style-image: url('pics/icon2.png');
}

.icon3
{
	list-style-image: url('pics/icon3.png');
}

/*test*/
input[type="submit"]
{
	text-align: center;
}

/*position*/
nav
{
    float: left;
    width:100%;
}

/*menu consecutivi*/
nav div
{
	float: left;
}

aside
{
	float: left;
	width: 30%;
}

main
{
	float: right;
	width: 70%;
}
