body
{
	/*pagina centrata*/
	width: 80%;
	margin: 0px auto;
}

.nav
{
	float: left;
	width: 20%;
}

.nav-last
{
	float: right;
	width: 25%;
}

#menu1
{
	float: left;
	width: 100%;
}

#aside1
{
	float: left;
	width: 30%;
}

#main1
{
	float: right;
	width: 70%;
}

#cerca #categorie, #autori
{
	/*todo*/
}

#categorie a, #autori a
{
	display: none;
	margin: 0 auto;
}

#categorie ul, #autori ul,
#categorie h3, #autori h3
{
	display: block;
}

label
{
	width: 60%;
	margin: 0 auto;
}

input
{
	width: 60%;
	margin: 0 auto;
	margin-top: 3%;
	margin-bottom: 3%;
}
