#nav1, #aside1, #main1, .nav, .nav-last
{
	width: 100%;
	text-align: center;
	clear: both;
	margin-bottom: 10px;
}

/* nascondi aside content*/
#categorie ul, #autori ul,
#categorie h3, #autori h3
{
	display: none;
}

input
{
	width: 80%;
	margin: 0 auto;
	margin-top: 3%;
	margin-bottom: 3%;
}

#logotxt, label, #categorie, #autori
{
	padding-top: 5px;
	padding-bottom: 5px;
}
